.footer-copy{
    background-color: #90AE6E;
    height: 25vh;
}

.linha{
    height: 0.2vh;
    width: 95%;
    position: absolute;
    left: 02%;
    top: 531%;
    background-color: black;
}
.img_footer{
    width: 350px;
    position: absolute;
    left: 01%;
    top: 514%;
}
.desc_copy{
    position: absolute;
    left: 34%;
    top: 535%;
    font-size: 35px;
    background-color: #90AE6E;
    color: aliceblue;

}
.home_footer{
    position: absolute;
    left: 29%;
    top: 522%;
    font-size: 40px;
    color: aliceblue;

}
.info_footer{
    position: absolute;
    left: 39%;
    top: 522%;
    font-size: 40px;
    color: aliceblue;

}
.sobre_footer{
    position: absolute;
    left: 52%;
    top: 522%;
    font-size: 40px;
    color: aliceblue;

}
.contatos_footer{
    position: absolute;
    left: 64%;
    top: 522%;
    font-size: 40px;
    color: aliceblue;

}