*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/img/fundo.perguntas.png");
    background-size: cover;
    background-repeat: no-repeat;
    gap: 4rem;
}

header{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-rows: 3fr 3fr;
}

.um {
    display: flex;
    align-items: center;
    padding-left: 5rem;
    background-color: #90AE6E;
}

.dois {
    display: flex;
    align-items: center;
    padding-left: 5rem;
}

.descricao_save{
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
}

.descricao_ajuda{
    font-size: 25px;
    font-weight: bold;
}

h1{
    font-size: 100px;
    width: 50%;
    text-align: center;
}

.descricao{
    font-size: 45px;
    line-height: 3;
}
.teste {
    width: 50rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
}

.quadrado {
    width: 16rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    gap: 2rem;
    font-size: 30px;
}

.quadrado_segundo {
    width: 16rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    gap: 1rem;
    font-size: 30px;
    
      
}

img {
    height: 5rem;
}

@media(width: 375px){

.descricao_save{
    font-size: 15px;
    text-align: center;
    padding-left: 60px;
}

.descricao_ajuda{
    font-size: 15px;
    padding-left: 72px;
}

h1{
    font-size: 35px;
    width: 330px;
}

.descricao{
    font-size: 27px;
}

.teste{
    width: 100%;
    justify-content: center;
    gap: 10%;
}

.quadrado{
    height: 6rem;
    width: 100px;
    font-size: small;
    gap: 0%;
}

.quadrado_segundo{
    width: 100px;
    height: 6rem;
    font-size: small;
    gap: 0%;
}

.quadrado img{
    height: 2rem;
}

.quadrado_segundo img{
    height: 50px;
}


}