.info-section{
    height: 100vh;
    background-color: #90AE6E;

}
.title{
    font-size: 70px;
    position: absolute;
    top: 123%;
    left: 22%;
    color: aliceblue;
    font-family: 'Nunito Sans', sans-serif;
}
.title2{
    font-size: 70px;
    position: absolute;
    top: 130%;
    left: 39%;
    color: #1B470F;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

.img_globo{
    position: absolute;
    top: 150%;
    left: 14%;
    width: 150px;
    height: 150px;
}
.desc_globo{
    color: aliceblue;
    width: 750px;
    font-size: 30px;
    position: absolute;
    top: 162%;
    left: 02%;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

.img_money{
    position: absolute;
    top: 150%;
    left: 48%;
    width: 150px;
    height: 150px;

}
.desc_money{
    color: aliceblue;
    width: 650px;
    font-size: 30px;
    position: absolute;
    top: 162%;
    left: 37%;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;

}

.img_comida{
    position: absolute;
    top: 150%;
    left: 82%;
    width: 150px;
    height: 150px;

}
.desc_comida{
    color: aliceblue;
    width: 600px;
    font-size: 30px;
    position: absolute;
    top: 162%;
    left: 73%;
    text-align: center;font-family: 'Nunito Sans', sans-serif;


}

.img_rosto{
    position: absolute;
    top: 178%;
    left: 14%;
    width: 150px;
    height: 150px;

}
.desc_rosto{
    color: aliceblue;
    width: 600px;
    font-size: 30px;
    position: absolute;
    top: 193%;
    left: 05%;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;

}

.img_planta{
    position: absolute;
    top: 178%;
    left: 48%;
    width: 150px;
    height: 150px;

}
.desc_planta{
    color: aliceblue;
    width: 530px;
    font-size: 30px;
    position: absolute;
    top: 193%;
    left: 40%;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;

}

.img_familia{
    position: absolute;
    top: 178%;
    left: 82%;
    width: 150px;
    height: 150px;

}
.desc_familia{
    color: aliceblue;
    width: 530px;
    font-size: 30px;
    position: absolute;
    top: 193%;
    left: 74%;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;


}

@media(width: 375px){

    .title{
        font-size: 18px;
        top: 780px;
        width: 400px;
        left: 8px;
        
    }
    .title2{
        font-size: 20px;
        top: 810px;
        left: 95px;

    }
    .img_globo{
        width: 45px;
        height: 45px;
        top: 880px;
    }
    .desc_globo{
        width: 180px;
        font-size: 12px;
        top: 930px;
        left: 0;
        color: rgb(255, 255, 255);
    }
    .img_money{
        width: 45px;
        height: 45px;
        top: 880px;
        left: 245px;
    
    }
    .desc_money{
        width: 150px;
        font-size: 12px;
        top: 930px;
        left: 200px;
        color: rgb(255, 255, 255);

    }
    .img_comida{
        width: 45px;
        height: 45px;
        top: 1060px;
        left: 60px;
    
    }
    .desc_comida{
        width: 180px;
        font-size: 12px;
        top: 1120px;
        left: 15px;
        color: rgb(255, 255, 255);
    
    }
    .img_rosto{
        width: 45px;
        height: 45px;
        top: 1060px;
        left: 250px;
    
    }
    .desc_rosto{
        width: 165px;
        font-size: 12px;
        top: 1120px;
        left: 200px;
        color: rgb(255, 255, 255);
    }
    .img_planta{
        width: 45px;
        height: 45px;
        top: 1240px;
        left: 63px;
    
    }
    .desc_planta{
        width: 180px;
        font-size: 12px;
        top: 1310px;
        left: 12px;
        color: rgb(255, 255, 255);
    }
    
    .img_familia{
        width: 45px;
        height: 45px;
        top: 1240px;
        left: 250px;
    
    }
    .desc_familia{
        width: 165px;
        font-size: 12px;
        top: 1310px;
        left: 200px;
        color: rgb(255, 255, 255);

    }


}
